<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-book</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/loginStyles.css">
    
</head>
<body>
    <header>
        <div class="logo">Book store</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Shopping Bag</a></li>
            <li><a href="#">Admin Board</a></li>
        </ul>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <div class="field-search">
            <input type="search" placeholder="search" id="search">
            <label for="search"></label>
        </div>
    </header>

    <main class="book-details">
        <div class="wrapper-add-book">
            <h2>Enter Book Details</h2>
            <form action="/add-book" method="POST">
                <div class="input-field">
                    <label for="title" class="sr-only">Title</label>
                    <input type="text" id="title" name="title" placeholder="Title" required>
                </div>
                <div class="input-field">
                    <label for="author" class="sr-only">Author</label>
                    <input type="text" id="author" name="author" placeholder="Author" required>
                </div>
                <div class="input-field">
                    <label for="category" class="sr-only">Category</label>
                    <input type="text" id="category" name="category" placeholder="Category" required>
                </div>
                <div class="input-field">
                    <label for="description" class="sr-only">Description</label>
                    <input type="text" id="description" name="description" placeholder="Description" required>
                </div>
                <div class="input-field">
                    <label for="image" class="sr-only">Image URL</label>
                    <input type="url" id="image" name="image" placeholder="Image URL">
                </div>
                <button type="submit" class="add">Add</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Book Site</p>
    </footer>
</body>
</html>