<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books-list</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">

</head>

<body>
    <header>
        <div class="logo">Book store</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Shopping Bag</a></li>
            <li><a href="#">Admin Board</a></li>
        </ul>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <div class="field-search">
            <input type="search" placeholder="search" id="search">
            <label for="search"></label>
        </div>
    </header>

    <main class="admin">
        <h2>Welcome, Admin!</h2>
        <div class="container">
            <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
            <div class="text-center">
                <h5 class="mt-4 mb-0">Full name</h5>
                <span text="full-name">UI/UX Designer</span>
                <h5 class="mt-2 mb-0">Username</h5>
                <span text="username">UI/UX Designer</span>
                <h5 class="mt-2 mb-0">Age</h5>
                <span text="age">33</span>
            </div>
            <ul>
                <li><a href="#">Add Book</a></li>
                <li><a href="#">Delete Book</a></li>
                <li><a href="#">Edit Book</a></li>
            </ul>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Book Site</p>
    </footer>
</body>

</html>