<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">

</head>

<body>
<header th:replace="fragments/header"></header>

    <main class="admin">
        <h2>Welcome, Admin!</h2>
        <div class="container">
            <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
            <div class="text-center">
                <h5 class="mt-4 mb-0">Full name</h5>
                <span th:text="${adminData.fullName}">UI/UX Designer</span>
                <h5 class="mt-2 mb-0">Username</h5>
                <span th:text="${adminData.username}">UI/UX Designer</span>
                <h5 class="mt-2 mb-0">Age</h5>
                <span th:text="${adminData.age}">33</span>
            </div>
            <ul>
                <li><a th:href="@{/book/add}">Add Book</a></li>
                <li><a href="#">Delete Book</a></li>
                <li><a th:href="@{/category/add}">Add Category</a></li>
            </ul>
        </div>
    </main>

    <footer th:replace="fragments/footer"></footer>
</body>

</html>