<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    
</head>
<body>
<header th:replace="fragments/header"></header>

    <main class="authors">
        <h2>Author Name</h2>
        <div class="authors-info">
            <div class="about-the-author">
                <p><strong>About the author</strong> ......</p>
                </div>
            <div class="books-by-author">
                <h3>Books by this Author</h3>
                <ul>
                    <li><a href="book-detail.html">Book Title 1</a></li>
                    <li><a href="book-detail.html">Book Title 2</a></li>
                    <li><a href="book-detail.html">Book Title 3</a></li>
                </ul>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>