<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    
</head>
<body>
<header th:replace="fragments/header"></header>

    <main class="authors"
          th:object="${authorDetails}">
        <h2 th:text="*{name}">Author Name</h2>
        <div class="authors-info">
            <div class="books-by-author">
                <h3>Books by this Author</h3>
                <ul>
                    <li th:each="book : *{books}">
                        <a th:href="@{/book/{id}(id=${book.id})}" th:text="${book.title}">Book Title</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>