<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    <script src="/js/search.js" defer></script>
    
</head>
<body>
<header th:replace="fragments/header"></header>

    <main class="Books-list">
        <h2>Available Books</h2>
        <div class="books-links">
            <div th:each="book : ${books}" class="books-info">
                <a th:href="@{/book/{id}(id=${book.id})}" class="img">
                    <img th:src="${book.imageURL}" alt="Book Image"/>
                </a>
                <a th:href="@{/book/{id}(id=${book.id})}" class="book-name" th:text="${book.title}">Book-name</a>
                <span th:text="${book.author.name}">Author name</span>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>