<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    
</head>
<body>
<header th:replace="fragments/header"></header>

    <main class="Books-list">
        <h2>Available Books</h2>
        <div class="books-links">
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/first_lie_wins.jpg" alt="">
                </a>
                <a href="#" class="book-name">1 Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/iron-flame.jpg" alt="">
                </a>
                <a href="#" class="book-name">2Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/sandwich.jpg" alt="">
                </a>
                <a href="#" class="book-name">3Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/swan-song.webp" alt="">
                </a>
                <a href="#" class="book-name">4Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/the-demon-of-unrest.jpg" alt="">
                </a>
                <a href="#" class="book-name">5Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/the-paradise-problem.jpg" alt="">
                </a>
                <a href="#" class="book-name">6Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/the-teacher.jpg" alt="">
                </a>
                <a href="#" class="book-name">7Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/images/this-summer-will-be-different.jpg" alt="">
                </a>
                <a href="#" class="book-name">8Book-name</a>
                <span>Author name</span>
            
        </div>

    </div>
        
    </main>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>