<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    
</head>
<body>
<header th:replace="fragments/header"></header>

    <main  class="books-main">
        <div class="book-details" th:object="${bookDetails}">
            <h1 th:text="*{title}">Book title</h1>
            <a th:href="@{/author/{id}(id=*{author.id})}" th:text="*{author.name}">Author name</a>
            <img th:src="@{*{imageURL}}" alt="Book Image" />
            <span th:text="*{category}">Category Name</span>
            <span th:text="${bookDetails.price}">Price</span>
            <p th:text="*{description}">Description</p>
        </div>
    </main>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>