<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    
</head>
<body>
<header th:replace="fragments/header"></header>

    <main  class="book-details">
            <h1>Book titel</h1>
            <a href="#">Author name</a>
            <img src="/images/first_lie_wins.jpg" alt="">
            <span>price</span>
            <span>categoryName</span>
            <p>Description</p>
    </main>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>