<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books-list</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    
</head>
<body>
    <header>
        <div class="logo">Book store</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Shopping Bag</a></li>
            <li><a href="#">Admin Board</a></li>
        </ul>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <div class="field-search">
            <input type="search" placeholder="search" id="search">
            <label for="search"></label>
        </div>
    </header>

    <main class="Books-list">
        <h2>Available Books</h2>
        <div class="books-links">
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/first_lie_wins.jpg" alt="">
                </a>
                <a href="#" class="book-name">1 Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/iron-flame.jpg" alt="">
                </a>
                <a href="#" class="book-name">2Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/sandwich.jpg" alt="">
                </a>
                <a href="#" class="book-name">3Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/swan-song.webp" alt="">
                </a>
                <a href="#" class="book-name">4Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/the-demon-of-unrest.jpg" alt="">
                </a>
                <a href="#" class="book-name">5Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/the-paradise-problem.jpg" alt="">
                </a>
                <a href="#" class="book-name">6Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/the-teacher.jpg" alt="">
                </a>
                <a href="#" class="book-name">7Book-name</a>
                <span>Author name</span>
            </div>
            <div class="books-info">
                <a href="#" class="img">
                    <img src="/img/this-summer-will-be-different.jpg" alt="">
                </a>
                <a href="#" class="book-name">8Book-name</a>
                <span>Author name</span>
            
        </div>

    </div>
        
    </main>

    <footer>
        <p>&copy; 2024 Book Site</p>
    </footer>
</body>
</html>