<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
</head>
<body>
<header th:replace="fragments/header"></header>

    <main class="categories">
        <div class="container">
            <div class="category-container">
                <h3>Crime story</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-container">
                <h3>Horror</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-container">
                <h3>Thriller</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-container">
                <h3>Clasic</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-container">
                <h3>Love story</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-container">
                <h3>Science fiction</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-container">
                <h3>Fantasy</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-container">
                <h3>Fairy tale</h3>
                <ul class="books">
                    <li>
                        <a href="#" class="img">
                            <img src="/images/first_lie_wins.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </main>


    <footer th:replace="fragments/footer"></footer>
</body>
</html>