<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">

</head>
<body>
<header th:replace="fragments/header"></header>

<main>
    <section class="categories-details">
        <h2>Categories</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categoryDetails}">
                <td th:text="${category.id}">1</td>
                <td th:text="${category.category}">Category Name</td>
                <td th:text="${category.description}">Category Description</td>
                <th:block sec:authorize="hasRole('ADMIN')">
                <td>
                    <form th:action="@{/categories/{id}(id=${category.id})}" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>