<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/information.css">
    <script src="/js/search.js" defer></script>

</head>
<body>
<header th:replace="fragments/header"></header>

<main>
    <section class="books-details">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Stock</th>
                <th>Refill Stock</th>
                <th>Delete Book</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">1</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.stock}">Stock</td>
                <td>
                    <form th:action="@{/book/refill/{id}(id=${book.id})}" method="post" style="display:inline;">
                        <input type="number" name="amount" min="1" required>
                        <button type="submit" class="btn-refill">Refill</button>
                    </form>
                </td>
                    <td>
                        <form th:action="@{/book/{id}(id=${book.id})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn-delete">Delete</button>
                        </form>
                    </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>