<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book store</title>
        <link rel="stylesheet" href="/css/background.css">
        <link rel="stylesheet" href="/css/loginStyles.css">
        
    </head>
<body>
<header th:replace="fragments/header"></header>
    <main class="edit-book">
        <h2>Edit Book Details</h2>
        <form action="update" method="POST">
            <div class="input-field">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="Existing Book Title" >
            </div>
            <div class="input-field">
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" value="Existing Author Name">
            </div>
            <div class="input-field">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" value="Existing Category">
            </div>
            <div class="input-field">
                <label for="description">Description:</label>
                <textarea class="description" id="description" name="description">Existing book description...</textarea>
            </div>
            <div class="input-field">
                <label for="image">Image:</label>
                <input type="url" id="image" name="image" value="Image URL">
            </div>
            <div class="btns">
                <button type="submit" class="edit">Edit</button>
                <button type="submit" class="delete">Delete</button>
            </div>
        </form>

    </main>

    <footer th:replace="fragments/footer"></footer>
</body>
</html>