 <!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>Book store</title>
        <link rel="stylesheet" href="/css/background.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/search.js" defer></script>
    </head>

    <body>
    <header th:replace="fragments/header"></header>
        <section class="index-section">
            <div class="books-move">
                <span style="--i:1;"><img th:src="@{/images/first_lie_wins.jpg}" alt=""></span>
                <span style="--i:2;"><img th:src="@{/images/iron-flame.jpg}" alt=""></span>
                <span style="--i:3;"><img th:src="@{/images/sandwich.jpg}" alt=""></span>
                <span style="--i:4;"><img th:src="@{/images/swan-song.webp}" alt=""></span>
                <span style="--i:5;"><img th:src="@{/images/the-demon-of-unrest.jpg}" alt=""></span>
                <span style="--i:6;"><img th:src="@{/images/the-paradise-problem.jpg}" alt=""></span>
                <span style="--i:7;"><img th:src="@{/images/the-teacher.jpg}" alt=""></span>
                <span style="--i:8;"><img th:src="@{/images/this-summer-will-be-different.jpg}" alt=""></span>
            </div>
            <blockquote class="quote">
                “A truly good book is something as natural, 
                and as unexpectedly and unaccountably fair and perfect, 
                as a wild flower discovered on the prairies of the West or in the jungles of the East. 
                Genius is a light which makes the darkness visible,
                 like the lightning’s flash, which perchance shatters the temple of knowledge itself,
                 --and not a taper lighted at the hearth-stone of the race,
                  which pales before the light of common day.”
                <cite> ― Henry David Thoreau</cite>
            </blockquote>
            
        </section>
        <footer th:replace="fragments/footer"></footer>
    </body>
</html>