<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/loginStyles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h2 th:text="#{nav_bar_welcome}" >Welcome</h2>
        <form th:method="POST"
              th:action="@{/users/login}"
              th:object="${loginData}">

            <div class="bg-danger" th:if="${showErrorMessage}" th:text="#{nav_bar_invalid_login}"></div>

            <div class="input-field">
                <label for="email" class="sr-only" th:text="#{nav_bar_username}" >Username</label>
                <input
                        th:field="*{username}"
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Username">
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-field">
                <label for="password" class="sr-only" th:text="#{nav_bar_password}">Password</label>
                <input th:field="*{password}"
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Password">
                <i class="bx bxs-lock-alt"></i>
            </div>
            <button  th:text="#{nav_bar_login}" type="submit" class="login">Login</button>
            <p  th:text="#{nav_bar_doNotHaveAccount}">Don't have an account?</p>
            <a th:href="@{/users/register}" class="sign-up" th:text="#{nav_bar_signUp}">Sign up</a>
        </form>
    </div>
</body>
</html>