<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/loginStyles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form th:object="${registerData}"
              th:action="@{/users/register}"
              th:method="POST">
            <div class="input-field">
                <label for="username" class="sr-only" th:text="#{nav_bar_username}">Username</label>
                <input th:field="*{username}"
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Username"
                       th:errorclass="is-invalid">
                <i class="bx bxs-user"></i>
                <th:block th:if="${#fields.hasErrors('username')}">
                    <small th:each="error: ${#fields.detailedErrors('username')}"
                           th:text="${error.getMessage()}"
                           class="bg-danger text-white rounded d-block"></small>
                </th:block>
            </div>
            <div class="input-field">
                <label for="email" class="sr-only" th:text="#{nav_bar_email}">Email</label>
                <input th:field="*{email}"
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Email"
                       th:errorclass="is-invalid">
                <i class='bx bx-envelope'></i>
                <th:block th:if="${#fields.hasErrors('email')}">
                    <small th:each="error: ${#fields.detailedErrors('email')}"
                           th:text="${error.getMessage()}"
                           class="bg-danger text-white rounded d-block"></small>
                </th:block>
            </div>
            <div class="input-field">
                <label for="name" class="sr-only" th:text="#{nav_bar_name}">Name</label>
                <input th:field="*{fullName}"
                        type="text"
                        id="name"
                        name="name"
                        placeholder="name"
                       th:errorclass="is-invalid">
                <i class='bx bxs-face'></i>
                <th:block th:if="${#fields.hasErrors('fullName')}">
                    <small th:each="error: ${#fields.detailedErrors('fullName')}"
                           th:text="${error.getMessage()}"
                           class="bg-danger text-white rounded d-block"></small>
                </th:block>
            </div>
            <div class="input-field">
                <label for="age" class="sr-only" th:text="#{nav_bar_age}">Age</label>
                <input th:field="*{age}"
                        type="text"
                        id="age"
                        name="age"
                        placeholder="age"
                       th:errorclass="is-invalid">
                <i class='bx bx-face'></i>
                <th:block th:if="${#fields.hasErrors('age')}">
                    <small th:each="error: ${#fields.detailedErrors('age')}"
                           th:text="${error.getMessage()}"
                           class="bg-danger text-white rounded d-block"></small>
                </th:block>
            </div>
            <div class="input-field">
                <label for="password" class="sr-only" th:text="#{nav_bar_password}">Password</label>
                <input th:field="*{password}"
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Password"
                       th:errorclass="is-invalid">
                <i class="bx bxs-lock-alt"></i>
                <th:block th:if="${#fields.hasErrors('password')}">
                    <small th:each="error: ${#fields.detailedErrors('password')}"
                           th:text="${error.getMessage()}"
                           class="bg-danger text-white rounded d-block"></small>
                </th:block>
            </div>
            <div class="input-field">
                <label for="confirm-password" class="sr-only" th:text="#{nav_bar_confirm_password}">Confirm Password</label>
                <input th:field="*{confirmPassword}"
                        type="password"
                        id="confirm-password"
                        name="confirm-password"
                        placeholder="Confirm Password">
                <i class="bx bxs-lock-alt"></i>
            </div>
            <button type="submit" class="register" th:text="#{nav_bar_register}">Register</button>
        </form>
    </div>
</body>
</html>