html{
    background-image: url('../images/img2.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.wrapper,
.wrapper-add-book,
.add-category{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 490px;
    text-align: center;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 12px;
    padding: 10px 20px;
    background: transparent;
    backdrop-filter: blur(6px);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
}

.book-details .wrapper-add-book{
    margin-top: 100px;
    width: 400px;
    height: 560px;
}

.wrapper{
    height: 590px;
    margin-top: 40px;
}

.add-category{
    margin-top: 100px;
}


.wrapper h2,
.book-details .wrapper-add-book h2,
.add-category h2{
    font-size: 20px;
    color: #fffefe;
}

.input-field{
    position: relative;
}

.input-field input[type="text"],
.input-field input[type="email"],
.input-field input[type="password"],
.input-field input[type="confirm-password"],
.input-field input[type="title"],
.input-field input[type="author"],
.input-field input[type="category"],
.input-field input[type="description"],
.input-field input[type="url"],
.input-field .description,
.input-field input[type="age"],
.input-field input[type="name"]{
    border-radius: 10px;
    background: transparent;
    margin: 15px;
    border: 2px solid rgb(255, 255, 255);
    width: 280px;
    height: 2px;
    padding: 20px 40px 20px 20px;
    backdrop-filter: blur(15px);
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: rgb(252 , 252, 252);
}

input::placeholder,
.input-field{
    color: rgb(255, 255, 255);
}

.input-field input[type="text"]:focus::placeholder,
.input-field input[type="email"]:focus::placeholder,
.input-field input[type="password"]:focus::placeholder,
.input-field input[type="confirm-password"]:focus::placeholder,
.input-field input[type="title"]:focus::placeholder,
.input-field input[type="author"]:focus::placeholder,
.input-field input[type="category"]:focus::placeholder,
.input-field input[type="description"]:focus::placeholder,
.input-field input[type="url"]:focus::placeholder,
.input-field .description,
.input-field input[type="age"]:focus::placeholder,
.input-field input[type="name"]:focus::placeholder,
.input-field input[type="username"]:focus::placeholder{
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
    font-size: 14px;
}

.input-field input[type="text"]:not(:focus)::placeholder,
.input-field input[type="emial"]:not(:focus)::placeholder,
.input-field input[type="passowrd"]:not(:focus)::placeholder,
.input-field input[type="confirm-passowrd"]:not(:focus)::placeholder,
.input-field input[type="title"]:not(:focus)::placeholder,
.input-field input[type="author"]:not(:focus)::placeholder,
.input-field input[type="category"]:not(:focus)::placeholder,
.input-field input[type="description"]:not(:focus)::placeholder,
.input-field input[type="url"]:not(:focus)::placeholder,
.input-field .description,
.input-field input[type="age"]:not(:focus)::placeholder,
.input-field input[type="name"]:not(:focus)::placeholder,
.input-field input[type="username"]:not(:focus)::placeholder{
    transform: translateY(0%);
    transition: transform 0.2s ease-in-out;
    font-size: 16px;
}

a.sign-up{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
}

a.sign-up:hover{
    text-decoration: underline;
    color: #fffffffd;
}

.wrapper .login,
.wrapper .register,
.wrapper-add-book .add,
.add-category button{
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 45px;
    width: 200px;
    height: 30px;
}
